* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

html, body, .app {
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;	
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    /*position: relative;*/
}



/*Button Styles*/

.gridButton {
	width: 50%;
	height: 50%;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    border: none;
}

#one {
	float: left;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 8px 4px 4px 8px;    
}

#two {
	float: right;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 8px 8px 4px 4px;    
}

#three {
	float: left;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 4px 4px 8px 8px;    
}

#four {
	float: right;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 4px 8px 8px 4px;    
}



.centerOffset {
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}

#idleBubble {
    z-index: 2;    
    padding: 35px;
    padding-top: 40px;
    padding-bottom: 30px;  
    font-size: 1.8em; 
}

#selectionBubble {
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;  
    font-size: 1.8em;  
}

.semiCircle {
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;    
}

.screenLabel {
    /*background-color: rgba(51, 0, 102, 0.75);*/
    background-color: white;
    margin: 0px;
    position: relative;
    color: rgba(51, 0, 102, 1.0);
    left: -50%;
    /*font-size: 2em;*/
    /*line-height: 95%;*/
}

.screenLabelBig {
    font-size: 1.25em;
}


/*Fading Div*/

#active-screen {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}


#idle-screen {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}

#idle-image {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

/*
Slideshow essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/* Slide Video Styles */

.slide_content_video {
  width: auto    !important;
  height: 100%   !important;
  margin: 0px;
  padding: 0px;
}


/*
Slideshow: non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    /*background: red;*/
    background: rgba(255, 255, 255, 1.0) url("../img/slide1.jpg") no-repeat center center;
    background-size: 100vw 100vh;
}
.slide:nth-of-type(2) {
    /*background: orange;*/
    background: rgba(255, 255, 255, 1.0) url("../img/slide2.jpg") no-repeat center center;
    background-size: 100vw 100vh;
}
.slide:nth-of-type(3) {
    /*background: green;*/
    background: rgba(255, 255, 255, 1.0) url("../img/slide3.jpg") no-repeat center center;
    background-size: 100vw 100vh;
}
.slide:nth-of-type(4) {
    /*background: blue;*/
    background: rgba(255, 255, 255, 1.0) url("../img/slide4.jpg") no-repeat center center;
    background-size: 100vw 100vh;
}
.slide:nth-of-type(5) {
    /*background: purple;*/
    background: rgba(255, 255, 255, 1.0) url("../img/slide5.jpg") no-repeat center center;
    background-size: 100vw 100vh;
}

.fadeWrapper {
    background-color: #000;
}



.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    overflow: none;
}

.mySlides img {
    width: 100%;
    height: 100%;    
}



/* Button Content Styles */

.btn_content_video {
  width: auto    !important;
  height: 100%   !important;
/*  width: 100%    !important;
  height: auto   !important;*/  
  margin: 0px;
  padding: 0px;
}

.btn_content_image {
  width: auto    !important;
  height: 100%   !important;
  margin: 0px;
  padding: 0px;
}



